{% extends 'base.html.twig' %}


{% block body %}
    <h3>Homepage</h3>
    <br />
    <a href="{{ path('ticket-new') }}" class="action-button">+ NUOVO TICKET +</a> |
    <a href="{{ logout_path() }}" class="action-button">LOGOUT</a><br />
    <br />
    <table cellspacing="0">
        <tr>
            <th>Data</th>
            <th>Proprietario</th>
            <th>Stato</th>
            <th>Assegnatario</th>
            <th>Messaggio</th>
            <th>Azioni</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.creationDate|date('m/d/Y H:i')}}</td>
                <td>{{ ticket.ownerName }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.assigneeName }}</td>
                <td>{{ ticket.title }}</td>
                <td>
                    <a href="{{ path('ticket', {'ticketId': ticket.id }) }}" class="action-button">Dettaglio</a> |
                    <a href="{{ path('ticket-assign', {'ticketId': ticket.id }) }}" class="action-button">Assegna</a> |
                    <a href="{{ path('ticket-autoassign', {'ticketId': ticket.id }) }}" class="action-button">Prendi in carico</a> |
                    <a href="{{ path('ticket-close', {'ticketId': ticket.id }) }}" class="action-button">Chiudi</a> |
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
