{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    Assegna il ticket a: {{ form_widget(form.admin) }}{{ form_errors(form.admin) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <h3>Ticket info:</h3>
    <table cellspacing="0">
        <tr>
            <th>Data</th>
            <th>Proprietario</th>
            <th>Stato</th>
            <th>Assegnatario</th>
        </tr>
        <tr>
            <td>{{ ticket.creationDate|date('m/d/Y H:i')}}</td>
            <td>{{ ticket.ownerName }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.assigneeName }}</td>
        </tr>
    </table>
    <br />
    <a href="{{ path('homepage') }}" class="action-button">Torna a Lista tickets</a>

{% endblock %}

