{% extends 'base.html.twig' %}

{% block body %}

    <h3>Nuovo Ticket</h3>
    {{ form_start(form) }}
    {{ form_widget(form.body, {'attr': {'class': 'message-body'}}) }}{{ form_errors(form.body) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

