{% extends 'base.html.twig' %}

{% block body %}
    <h3>Operazioni:</h3>
    <div style="padding:10px; border: 1px solid black">
        <a href="{{ path('homepage') }}" class="action-button">Lista tickets</a> |
        <a href="{{ path('ticket-assign', {'ticketId': ticket.id }) }}" class="action-button">Assegna</a> |
        <a href="{{ path('ticket-autoassign', {'ticketId': ticket.id }) }}" class="action-button">Prendi in carico</a> |
        <a href="{{ path('ticket-close', {'ticketId': ticket.id }) }}" class="action-button">Chiudi</a> |
    </div>
    <h3>Ticket info:</h3>
    <table cellspacing="0">
        <tr>
            <th>Data</th>
            <th>Proprietario</th>
            <th>Stato</th>
            <th>Assegnatario</th>
        </tr>
        <tr>
            <td>{{ ticket.creationDate|date('m/d/Y H:i')}}</td>
            <td>{{ ticket.ownerName }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.assigneeName }}</td>
        </tr>
    </table>

    <h3>Messaggi:</h3>
    <table cellspacing="0">
        <tr>
            <th>Numero</th>
            <th>Data</th>
            <th>Autore</th>
            <th>Testo</th>
        </tr>
        {% for message in ticket.orderedMessages %}
            <tr>
                <td>{{ message.number}}</td>
                <td>{{ message.creationDate|date('m/d/Y H:i')}}</td>
                <td>{{ message.authorName }}</td>
                <td>{{ message.body }}</td>
            </tr>
        {% endfor %}
    </table>
    <h3>Nuovo Messaggio</h3>
    {{ form_start(form) }}
    {{ form_widget(form.body, {'attr': {'class': 'message-body'}}) }}{{ form_errors(form.body) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

