<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Simple ticket!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        table {
            border: 1px Solid Black;
        }
        table tr:nth-child(even) {
            background-color: #ddd;
        }
        table tr:nth-child(odd) {
            background-color: #fff;
        }
        table th {
            color: white;
            background-color: black;
            padding: 7px;
        }
        table td {
            border: 1px Solid Black;
            padding: 7px;
        }
        .message-body {
            width: 400px;
            height: 200px;
        }
        .alert{
            padding: 10px;
            color: white;
        }

        .alert-success {
            background-color: darkgreen;
        }
        .alert-danger {
            background-color: darkred;
        }
    </style>
    <body>
        <div align="center">
            {{ include('siteheader.html.twig') }}
            <div style="width: 1200px; padding:20px; background-color: lightblue;">
                {% block pageheader %}{% endblock %}
                {% for label, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            <string>{{ label }}: {{ message }}</string>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
         </div>
    </body>
</html>
